# name of this file
ENV_FILE=.env.???
# Must be lower-case, no spaces and no invalid path chars.
INSTANCE_NAME=mynewblog
# Must be lower-case, no spaces and no invalid path chars.
# Will be used also as the WP database name
COMPOSE_PROJECT_NAME="fleischsalat-wordpress-docker_${INSTANCE_NAME}"
MYSQL_USER=root
MYSQL_PASSWORD=somepassword
