{
    # Global options block. Entirely optional, https is on by default
    # Optional email key for lets encrypt
    email youremail@domain.com 
    # Optional staging lets encrypt for testing. Comment out for production.
    acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
    local_certs
    #debug
    admin off
}
pathfinder.lan {
    reverse_proxy pathfinder:80
    tls internal
    log {
    	output file /var/log/access.log
	format console
    }
}
