{
    # Global options block. Entirely optional, https is on by default
    # Optional email key for lets encrypt
    email youremail@domain.com 
    # Optional staging lets encrypt for testing. Comment out for production.
    acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
    # Optional local tls certs. Comment out for production
    local_certs
    #debug
    admin off
}
wordpress.lan {
    reverse_proxy wordpress_YOURINSTANCENAME:80
    # comment out for production
    tls internal
    log {
    	output file /var/log/access.log
	format console
    }
}

www.wordpress.lan {
	redir https://wordpress.lan{uri}
}
